@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radiotv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 28px;
    top: 390px;
    height: 35px;
    width: 170px;
}

video#filme {
    display: block;
    position: relative;
    left: 268px;
    top: 155px;
    height: 250px;
    width: 350px;
}
