@charset "UTF-8";

/* Corpo geral */
p {                                                      /*Configurações CSS sobre os parágrafos*/
    padding: 20px;                                       /*Configurações CSS sobre os parágrafos*/
}

#interface {
    width: 800px;
    height: 610px;
    background-color: #f1f1f1;
    margin: -30px auto 0px auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

/* Cabeçalho */
#cabecalho {
    border-bottom: 2px rgb(51, 51, 51) solid;
    width: 79%;
    height: 300px;
    float: right;
}

#cabecalho div{
    display: flex;
    align-items: center;
}
#cabecalho h1{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #3b3b3b;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .4);
    margin-bottom: 0px;
}

#cabecalho div h2{
    padding: 15px;
    color: #3b3b3b;
}

#cabecalho div img{                         
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    padding: 2px;
}

/* conteudo */
#conteudo{
    width: 79%;
    height: 280px;
    float: right;
}

/* menu lateral */
nav#menu {
    width: 20%;
    height: 580px;
    background-color: rgb(148, 121, 121);
    padding: 30px 0px 0px 0px;
    box-shadow: 2px 0 0 rgb(51, 51, 51);
    float: left;

}

nav#menu ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

nav#menu ul a{
    color: #ffffff;
    font-size: 20px;
    padding: 30px 4%;
    display: flex;
    transition: text-decoration 1s;
}

nav#menu ul a:hover {
    text-decoration: none;
}


nav#menu li{
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
    text-decoration: none;
}

nav#menu h1{
    display: none;
}
