/* Gerais */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #7c8183;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 80px;
    border-radius: 50%;                                 /*Configurações do aredondamento da foto*/
    background-color: rgb(255, 255, 255, .5);         /*Configurações da borda da foto*/
    padding: 3px;                                       /*Configurações da área de preenchimento da borda*/
}

.navbar-brand {
    padding-left: 10px;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
    font-size: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-item img {
    opacity: 0.7;
}

#mainSlider .carousel-caption {
    top: 25%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #ffffff;
}

.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    /* text-decoration: none; */
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active{
    background-color: #65DAF9;
}